body{
    text-align: center;
    font-family: Arial, sans-serif;
}
#game{
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
}
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell:hover{
    background-color: #f2f2f2;
}
button{
    margin-top: 15px;
    padding: 8px 15px;
}